extends skeleton_base

block page-title
  = staticData.champs[champId].id

block body
  .row
    .col-xs-4
      img(src='/data/dragontail/4.21.4/img/champion/' + staticData.champs[champId].image.full)
    .col-xs-4= staticData.champs[champId].id
    .col-xs-4= staticData.champs[champId].title

  each match in gamesData
    .row
      .col-xs-2= match.summonerName

      .col-xs-1
        = match.lane

      .col-xs-1
        if match.status
          |Won
        else
          |Lost

      .col-xs-1
        = match.kills + ' / ' + match.deaths + ' / ' + match.assists

      .col-xs-2
        each item in match.finalBuild
          .row= staticData.items.data[item].name

      .col-xs-2
        each rune in match.runes
          .row= staticData.runes.data[rune.runeId].name + ' x' + rune.rank

      .col-xs-2
        each mastery in match.masteries
          .row= staticData.masteries.data[mastery.masteryId].name + ' x' + mastery.rank

      .col-xs-1
        each spell in match.summonerSpells
          .row= staticData.summSpells[spell].name
