extends skeleton_base

block page-title
  = staticData.champs[champId].name

block body
  .row
    .col-sm-4
      img(src='/data/dragontail/current/img/champion/' + staticData.champs[champId].image.full)
    .col-sm-8#champ-title
      a(href=staticData.champs[champId].name)= staticData.champs[champId].name + ', ' + staticData.champs[champId].title

  .row
    .col-md-12.text-center
      a.display-all-items(href='#') Toggle Complete Item Display

  - var itemBlacklist = { '2010': true, '2044': true, '2043': true, '2004': true, '2003': true };

  each match in gamesData
    .match-row.row

      - var winClass = match.winner ? 'win' : 'loss';
      .win-status-info(class=winClass)


      .summary-info.col-md-1
        - var date = new Date(match.date)
        div.date-text= [(date.getMonth() + 1), date.getUTCDate(), date.getUTCFullYear()].join('/')
        div.name-text= match.summonerName
        //- div.win-text(class=winClass)= match.winner ? 'Won' : 'Lost'
        div.kda-text #[span.kills= match.kills] #[span /] #[span.deaths= match.deaths] #[span /] #[span.assists= match.assists]
        div.lane-text= titleCase(match.lane)
        div.summ-imgs
          each spell in match.summonerSpells
            - var tooltip = '<b>' + staticData.summSpells[spell].name + '</b><br><br>' + staticData.summSpells[spell].description;
            img.summ-spell(data-toggle='tooltip' data-container='.match-row' title=tooltip src='/data/dragontail/current/img/spell/' + staticData.summSpells[spell].image.full)


      .skill-info
        .level-column
          each skillLabel, i in ['Q', 'W', 'E', 'R']
            - var tooltip = '<b>' + staticData.champInfo.data[champName].spells[i].name + '</b><br><br>' + staticData.champInfo.data[champName].spells[i].description;
            .skill-slot(data-toggle='tooltip' title=tooltip)
              .level-value= skillLabel

        each level in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
          .level-column
            each skill in [1, 2, 3, 4]
              - var _class = match.skillOrder[level] === skill ? 'active' : 'inactive';
              - var tooltip = match.skillOrder[level] === skill ? '<b>' + staticData.champInfo.data[champName].spells[skill-1].name + '</b><br><br>' + staticData.champInfo.data[champName].spells[skill-1].description : '';
              .skill-slot(class=_class data-toggle='tooltip' title=tooltip)
                .level-value= match.skillOrder[level] === skill ? level + 1 : ''


      .mastery-info.col-md-1
        .mastery-summary
          //- .mastery-hint (hover for details)
          .mastery-label Masteries:
          .mastery-text= match.masterySummary['Offense'] + '/' + match.masterySummary['Defense'] + '/' + match.masterySummary['Utility']

        .mastery-detail
          each treeName in ['Offense', 'Defense', 'Utility']
            .mastery-tree
              - var subTree = staticData.masteries.tree[treeName];

              each tier in ['0', '1', '2', '3', '4', '5']
                .mastery-tier
                  - var masteryTier = subTree[tier];

                  each column in ['0', '1', '2', '3']
                    - var slot = masteryTier[column];
                    if (slot)
                      - var masteryData = staticData.masteries.data[slot.masteryId];
                      - var tooltip = '<b>' + masteryData.name + '</b><br><br>' + masteryData.description[0];
                    else
                      - var tooltip = '';

                    .mastery-slot(data-toggle='tooltip' title=tooltip)
                      if (slot)
                        - var _class = match.masteries[slot.masteryId] ? 'active' : 'inactive' ;
                        - var tooltip = staticData.masteries.data[slot.masteryId].description[0];

                        img.mastery-img(class=_class src='/data/dragontail/current/img/mastery/' + staticData.masteries.data[slot.masteryId].image.full)

                        if (match.masteries[slot.masteryId])
                          .mastery-rank
                            = match.masteries[slot.masteryId]

                      else
                        .placeholder-mastery


      //- .col-md-1
        each item in match.finalBuild
          .row= staticData.items.data[item] ? staticData.items.data[item].name : item


      .buy-info.col-md-4
        each buy in match.buyOrder
          .purchase-group
            each amount, itemId in buy
              - var _class = itemBlacklist[itemId] ? 'blacklisted' : '';
              - var tooltip = '<b>' + staticData.items.data[itemId].name + '</b><br><br>' + staticData.items.data[itemId].description;
              div.item-buy(class=_class data-toggle='tooltip' data-placement='bottom' title=tooltip)
                img.item-buy-icon(src='/data/dragontail/current/img/item/' + staticData.items.data[itemId].image.full)
                = ' x' + amount


      .rune-info.col-md-2
        each rank, id in match.runes
          - var tooltip = '<b>' + staticData.runes[id].name + '</b><br><br>' + rank + 'x ' + staticData.runes[id].description;
          .row(data-toggle='tooltip' title=tooltip)
            img.rune-img(src='/data/dragontail/current/img/rune/' + staticData.runes[id].image.full)
            = ' ' + rank + ' ' + staticData.runes[id].shortName
