extends skeleton_base

block page-title
  = staticData.champs[champId].name

block body
  .row
    .col-md-4
      img(src='/data/dragontail/current/img/champion/' + staticData.champs[champId].image.full)
    .col-md-8#champ-title
      = staticData.champs[champId].name + ', ' + staticData.champs[champId].title

  .row
    .col-md-12.text-center
      a.display-all-items(href='#') Click to display all items (not just important ones)

  - var itemBlacklist = { '2010': true, '2044': true, '2043': true, '2004': true, '2003': true };

  each match in gamesData
    - var _class = match.winner ? 'win' : 'loss';
    .match-row.row(class=_class)
      .summary-info.col-md-1
        div= match.summonerName
        - var date = new Date(match.date)
        div= (date.getMonth() + 1) + '/' + date.getUTCDate() + '/' + date.getUTCFullYear()
        div= match.lane
        div= match.winner ? 'Won' : 'Lost'
        div= match.kills + ' / ' + match.deaths + ' / ' + match.assists

      .skill-info.col-md-4
        //- - var trans = ['', 'Q', 'W', 'E', 'R'];
        .level-column
          each skillLabel in ['Q', 'W', 'E', 'R']
            .skill-slot
              .level-value= skillLabel

        each level in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
          .level-column
            each skill in [1, 2, 3, 4]
              - var _class = match.skillOrder[level] === skill ? 'active' : 'inactive';
              .skill-slot(class=_class)
                .level-value= match.skillOrder[level] === skill ? level + 1 : ''


      //- .col-md-1
      //-   each item in match.finalBuild
      //-     .row= staticData.items.data[item] ? staticData.items.data[item].name : item

      .buy-info.col-md-4
        each buy in match.buyOrder
          .purchase-group
            each amount, itemId in buy
              - var _class = itemBlacklist[itemId] ? 'blacklisted' : '';
              div.item-buy(class=_class)
                img.item-buy-icon(src='/data/dragontail/current/img/item/' + staticData.items.data[itemId].image.full)
                = ' x' + amount

      .rune-info.col-md-2
        each rank, id in match.runes
          .row
            img.rune-img(src='/data/dragontail/current/img/rune/' + staticData.runes[id].image.full)
            = rank + ' ' + staticData.runes[id].shortName

      .mastery-info.col-md-1
        .mastery-summary
          = match.masterySummary['Offense'] + '/' + match.masterySummary['Defense'] + '/' + match.masterySummary['Utility']

        .mastery-detail
          each treeName in ['Offense', 'Defense', 'Utility']
            .mastery-tree
              - var subTree = staticData.masteries.tree[treeName];

              each tier in ['0', '1', '2', '3', '4', '5']
                .mastery-tier
                  - var masteryTier = subTree[tier];

                  each column in ['0', '1', '2', '3']
                    .mastery-slot
                      - var slot = masteryTier[column];

                      if (!slot)
                        .placeholder-mastery

                      else
                        - var _class = match.masteries[slot.masteryId] ? 'active' : 'inactive' ;
                        if (match.masteries[slot.masteryId])
                          .mastery-rank
                            = match.masteries[slot.masteryId]


                        img.mastery-img(class=_class src='/data/dragontail/current/img/mastery/' + staticData.masteries.data[slot.masteryId].image.full)

      //- .col-md-1
        each spell in match.summonerSpells
          img.summ-spell(src='/data/dragontail/current/img/spell/' + staticData.summSpells[spell].image.full)
